@import '../common';

#footer {
  margin: 0px;

  div {
    background: $footer-color;
    height: 10em;
  }

  .footer-contents {
    display: flex; 
    span {
      font-size: 1.4rem;
      margin: auto 0;
    }
  }
}
