@import '../common';
@import url('https://fonts.googleapis.com/css?family=Volkhov');
.navbar {
  height: 5em;
  background-color: $primaryColor;
  position: fixed;
  z-index: 10;

  .logo {
    color: $lightTextColor;
    font-family: 'Volkhov', serif;
    font-size: 2.4rem;
    margin: 0.9rem 1rem;
  }

  .nav-links-container {
    align-content: flex-end;
    justify-content: flex-end;
    display: inline-flex;
  }

  .nav-links {
    display: inline-flex;
    max-width: 8em;
  }

  .nav-links span a {
    color: $lightTextColor;
    font-size: 1.4rem;
    text-decoration: none;
    line-height: 3.5em;
    padding-left: 0.6em;
  }
}
