@import '../common';
@import url('https://fonts.googleapis.com/css?family=Volkhov');
.navbar {
  height: 5em;
  background-color: $primaryColor;
  display: flex;
  justify-content: flex-end;

  .nav-links {
    flex: 1;
    max-width: 8em;
  }

  .logo {
    flex: 1;
    color: $lightTextColor;
    font-family: 'Volkhov', serif;
    font-size: 2.4rem;
    margin: 0.5rem 1rem;
    justify-content: flex-start;
  }

  .nav-links span a {
    color: $lightTextColor;
    font-size: 1.4rem;
    text-decoration: none;
    line-height: 3.5em;
    padding-left: 0.6em;
  }
}
