@import '../common';

.navbar {
  height: 5em;
  background-color: $primaryColor;
  display: flex;
  justify-content: flex-end;

  .nav-links {
    flex: 1;
    max-width: 8em;
  }

  .logo {
    flex: 1;
    justify-content: flex-start;
  }
  .logo-placeholder {
    background: white;
    height: 32px;
    width: 32px;
    margin: 0.9em;
  }
  .nav-links span a {
    color: $lightTextColor;
    font-size: 1.4rem;
    text-decoration: none;
    line-height: 3.5em;
    padding-left: 0.6em;
  }
}
