.main-background {
  background: url(/static/images/home_carrousel_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}

.main-wrap {
  width: 66.66666667%;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
}