html, body {
  font-family: 'Source Sans Pro', Roboto !important;
}
.max-height {
  height: 95%;
}
.half-height {
  height: 45%;
}
.complete-activity {
  display: inline-block;
  float: right;
  margin-right: 5px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: url(../img/complete-icon.png) no-repeat 50% 50%;
  color: #fff;
  margin-top: 8px;
  cursor: pointer;
}
.complete-activity:hover {
  background: url(../img/complete-icon-hover.png) no-repeat 50% 50%;
}

.delete-activity {
  display: inline-block;
  float: right;
  margin-right: 5px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: url(../img/delete-icon.png) no-repeat 50% 50%;
  color: #fff;
  margin-top: 8px;
  cursor: pointer;
}
.delete-activity:hover {
  background: url(../img/delete-icon-hover.png) no-repeat 50% 50%;
}
.flex-padding {
  padding: 10px;
}
.list-area {
  width: 100%;
  height: -moz-calc(100% - 230px);
  height: -webkit-calc(100% - 230px);
  height: -o-calc(100% - 230px);
  height: calc(100% - 230px);
  padding: 0px;
  overflow-x: hidden;
}
.list-item {
  list-style-type: none;
  font-size: 45px;
  text-indent: 25px;
  line-height: 90px;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #e1e2e4;
}
.list-item span {
  width: 100%;
  height: 100%;
  display: block;
  background: #fff;
  z-index: 100;
  position: relative;
}
.delete-area {
  float: left;
  border-bottom: 1px solid #e1e2e4;
  border-top: 1px solid #e1e2e4;
  position: relative;
  z-index: 1;
  height: 100%;
  width: 300px;
  background-color: red;
  color: #fff;
}
.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.style-selector {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.style-selector:hover{
  width: 15px;
  height: 15px;
}
.slide-left {
  position: relative;
  -webkit-animation: slideLeft 0.5s 1; /* Safari 4.0 - 8.0 */
  animation: slideLeft 0.5s 1;
  animation-fill-mode: forwards;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes slideLeft {
    0%   {left:0px; top:0px;}
    100% {left: -300px; top:0px;}
}

/* Standard syntax */
@keyframes slideLeft {
    0%   {left:0px; top:0px;}
    100% {left: -300px; top:0px;}
}
.slide-right {
  position: relative;
  -webkit-animation: slideRight 0.5s 1; /* Safari 4.0 - 8.0 */
  animation: slideRight 0.5s 1;
  animation-fill-mode: forwards;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes slideRight {
    0%   {left:0px; top:0px;}
    100% {left:300px; top:0px;}
}

/* Standard syntax */
@keyframes slideRight {
    0%   {left:0px; top:0px;}
    100% {left:300px; top:0px;}
}
.color-type1 {
  background-color: #2a2a2a;
}
.color-type2 {
  background-color: #94887e;
}
.color-type3 {
  background-color: #e1e2e4;
}
.selected-style {
  border-color: blue;
  box-shadow: 0 0 10px blue;
}
.selector-container {
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.bottom-selector {
  width: 50%;
  height: 200px;
  border: 2px solid #536d84;
  display: table-cell;
}
.bottom-selector-selected {
  width: 50%;
  height: 125px;
  background-color: #536d84;
  border: 2px solid #536d84;
  display: table-cell;
}
.activity-input {
  border: none;
  border-radius: 0px !important;
  outline: none;
  background-color: #eee;
  height: 100px;
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: #ff005c;
  border-bottom: 3px solid #536d84;
  text-indent: 10px;
  margin: 0;
  border-radius: 4px;
  position: fixed;
  right: 5px;
}
