html, body {
  font-family: 'Source Sans Pro', Roboto, Noto !important;
}
.activity-list-area {
  height: calc(100% - 200px);
  min-height: 300px;
  overflow-y: auto;
  padding-left: 0px;
  overflow-x: hidden;
  padding-bottom: 10px;
}
.body-container {
  min-width: 880px;
  overflow: auto;
}
.max-height {
  height: 100%;
}
.half-height {
  height: 45%;
}
.color-type1 {
  background-color: #2a2a2a;
}
.color-type2 {
  background-color: #94887e;
}
.color-type3 {
  background-color: #e1e2e4;
}
.complete-activity {
  display: inline-block;
  float: right;
  margin-right: 5px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: url(../img/complete-icon.png) no-repeat 50% 50%;
  color: #fff;
  margin-top: 8px;
  cursor: pointer;
}
.complete-activity:hover {
  background: url(../img/complete-icon-hover.png) no-repeat 50% 50%;
}
.complete-activity-checked {
  display: inline-block;
  float: right;
  margin-right: 5px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: url(../img/complete-icon-hover.png) no-repeat 50% 50%;
  color: #fff;
  margin-top: 8px;
  cursor: pointer;
}
.date-item {
  margin-top: 5px;
  background: #dee0e0;
  padding: 0px 10px 0px 10px !important;
  width: 100%;
  height: 30px;
  line-height: 30px;
  /*text-indent: 5px;*/
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 4px;
}
.date-item-completed {
  margin-top: 5px;
  background: #65b800;
  color: #fff;
  padding: 0px 10px 0px 10px !important;
  width: 100%;
  height: 30px;
  line-height: 30px;
  /*text-indent: 5px;*/
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 4px;
}
.delete-activity {
  display: inline-block;
  float: right;
  margin-right: 5px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: url(../img/delete-icon.png) no-repeat 50% 50%;
  color: #fff;
  margin-top: 8px;
  cursor: pointer;
}
.delete-activity:hover {
  background: url(../img/delete-icon-hover.png) no-repeat 50% 50%;
}
.flex-padding {
  padding: 10px;
}
.header-area {
  display: inline-block;
  width:         calc(100% - 400px);
  width:    -moz-calc(100% - 400px);
  width: -webkit-calc(100% - 400px);
  width:      -o-calc(100% - 400px);
}
.list-area {
  max-height:    -moz-calc(100% - 162px);
  max-height: -webkit-calc(100% - 162px);
  max-height:      -o-calc(100% - 162px);
  max-height:         calc(100% - 162px);
  overflow-y: auto;
  padding-bottom: 10px;
  padding-left: 0px;
  overflow-x: hidden;
  margin-bottom: 0px;
  padding-top: 5px;
}
.login_form_container {
  float: right;
  margin-top: 25px;
  /*width: 850px;*/
  padding-right: 50px
}
.login_header {
  position: absolute;
  top: 0;
  width: 100%;
  min-width: 600px;
  height: 120px;
  background: #4a6175;
}
.login_panel {
  width: 600px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  top: calc(50% - 250px);
}
.register-button {
  width: 100%;
  height: 48px;
  background-color: #ff4081;
  color: #fff;
  margin: 10px 0;
}
.register-button:hover {
  background-color: #e83a75 !important;
}
.registration_form_container {
  position: relative;
  padding: 50px;
  height: 500px;
  /*min-width: 600px;*/
  top: calc(50% - 250px);
}
.right-panel-bottom {
  position: absolute;
  bottom: 0;
}
.right-panel-field-container {
  padding: 0px 0px 0px 15px;
  margin-top: 15px;
  width: 100%;
  height: inherit;
}
.right-panel-field-container label {
  text-indent: 2px;
}
.right-panel-datepicker-container {
  display: table-cell;
  width: 50%;
}
.right-panel-datepicker-container label {
  text-indent: 15px;
}
.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.search-area {
  display: inline-block;
  float: right;
  margin: 5px 10px 0px 0px;
}
.settings-button {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 50px;
  left: 305px;
  outline: none;
  transform: rotate(0deg);
  transition: transform 0.3s;
}
.settings-button:hover {
  transform: rotate(90deg);
  transition: transform 0.3s;
}
.style-selector-area {
  position: relative;
  left: 5px;
  bottom: 5px;
  padding: 0;
  z-index: 10;
}
.style-selector {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}
.style-selector:hover{
  width: 15px;
  height: 15px;
}

.selected-style {
  border-color: blue;
  box-shadow: 0 0 10px blue;
}
.type-area {
  display : inline-block;
  height: 20px;
  width: 160px;
  float: right;
}
/*
   External CSS overrides
*/
.datepicker-area {
  display : inline-block;
  height: 35px;
  width: 160px;
  float: right;
}
.duedate-warning {
  background: url(../img/duedate-warning.png) no-repeat 17.3px 6px;
  background-size: 27px;
}
.duedate-overdue {
  background: url(../img/duedate-overdue.png) no-repeat 17.3px 6px;
  background-size: 27px;
}
.md-datepicker-input {
  min-width: 70px;
  max-width: 70px;
}
.md-datepicker-triangle-button.md-button.md-icon-button {
  visibility: hidden;
}
.md-datepicker-input-container {
  /*float: right;*/
  border-bottom: none !important;
}
md-sidenav {
  width: 350px !important;
}
.md-sidenav-right {
  width: 430px !important;
}
md-select {
  margin: 0px 20px 0px 0px !important;
}
md-list {
  padding: 8px 20px;
}
