<section class="container" id="{{ $ctrl.name }}">
  <div class="columns">
    <div class="column col-12">
      <h2>About Academic Life Helper</h2>
      <p>
        The Academic Life Helper (ALH for short), is a tool aimed at helping students keep focus on what's important,
        providing an all-inclusive dashboard that integrates with Moodle
        and helps you stay on top of all your exams, assignments, or extra-curricular activities!
      </p>
      <p>ALH comes with a variety of functionalities to help <i>you</i> succeed!</p>
    </div>
  </div>
  <div id="attributes" class="columns">
    <div class="column col-md-12 col-lg-4">
      <img src="/static/images/pin.png"/>
      <span>Simple</span>
      <p>Everything is set so that you can easily get in and find whatever you're looking for, no unnecessary steps or tedious login screens</p>
    </div>
    <div class="column col-md-12 col-lg-4">
      <img src="/static/images/mobile-phone.png"/>
      <span>Flexible</span>
      <p>We've been very careful at making sure you can access and use AademicLifeHelper on any website, device, or format you need</p>
    </div>
    <div class="column col-md-12 col-lg-4">
      <img src="/static/images/screwdriver.png"/>
      <span>Useful</span>
      <p>Taking a no-nonsense approach to development, we're providing the most important information you want first, and the details come later</p>
    </div>
  </div>
</section>
