#attributes {
    margin-top: 50px;
    
    div {
        display: flex;
        align-content: center;
        flex-flow: column;
        text-align: center;
    }

    img {
        height: 60px;
        width: 60px;
        margin: 15px auto;
    }
    
    span {
        font-size: 1.8rem;
        font-weight: bold;
    }

    p {
        font-size: 1.4rem;
    }
}