#attributes {
    margin-top: 50px;
    
    div {
        display: flex;
        align-content: center;
        flex-flow: column;
        text-align: center;
    }

    span {
        font-size: 1.8rem;
        font-weight: bold;
    }

    p {
        font-size: 1.4rem;
    }
}