#loginForm {
  padding: 30px;
  margin-top: 100px;
}

.divider {
  margin-bottom: 20px !important;
}

.divider[data-content]::after {
  font-size: 1.6rem !important;
  transform: translateY(-1.2rem) !important;
}

.form-group input {
  font-size: 1.6rem !important;
  padding: 10px;
  height: 45px;
  margin-bottom: 20px;
}

.has-icon-right > .form-icon {
  width: 1.8rem;
  height: 1.8rem;
  padding-right: 25px;
}

.google-signin {
  padding: 8px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.google-logo {
  background: url(/static/images/g-logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 18px;
  height: 18px;
}

.icon-check {
  color: green;
}
