<div id="{{ $ctrl.name }}" class="card">
  <button class="google-signin">
    <div class="google-logo"></div>
    <span>SIGN IN WITH GOOGLE</span>
  </button>
  
  <div class="divider text-center" data-content="OR"></div>

  <form name="loginForm" class="form-group">
      <div class="has-icon-right">
        <input ng-model="login.username" class="form-input" type="text" placeholder="Username">
        <i ng-class="login.username.length > 4 ? 'form-icon icon icon-2x icon-check' : (login.username.length > 0 ? 'form-icon icon icon-2x icon-cross' : 'form-icon icon icon-2x')"></i>
      </div>
      <div class="has-icon-right">
        <input ng-model="login.password" class="form-input" type="password" placeholder="Password">
        <i ng-class="login.password.length > 4 ? 'form-icon icon icon-2x icon-check' : (login.password.length > 0 ? 'form-icon icon icon-2x icon-cross' : 'form-icon icon icon-2x')"></i>
      </div>
      <label class="form-checkbox">
        <input type="checkbox">
        <i class="form-icon"></i> Remember me
      </label>
      <a class="forgot-password" ui-sref="home">Forgot your password?</a>
      <br>
      <button ng-click="$ctrl.alert()" class="btn btn-primary">Log in</button>
  </form>
</div>