<section class="container" id="{{ $ctrl.name }}">
  <div class="columns">
    <div class="column col-12">
      <h2>Contribute</h2>
      <p>
          The Academic Life Helper application is an open source project! <br>
          As such all are welcome to contribute in any ways possible, be it writing code, reporting issues and bugs, <br>
          or just clicking on one of the buttons below to share it with your friends!
      </p>
    </div>
  </div>
  <div class="columns">
    <div class="share-container column col-lg-6 col-3">
      <a ng-href="https://github.com/avasconcelos114/academiclifehelper">
        <div id="github"></div>
      </a>
    </div>
    <div class="share-container column col-lg-6 col-3">
      <a ng-href="/">
        <div id="facebook"></div>
      </a>
    </div>
    <div class="share-container column col-lg-6 col-3">
      <a ng-href="/">
        <div id="twitter"></div>
      </a>
    </div>
    <div class="share-container column col-lg-6 col-3">
      <a ng-href="/">
        <div id="reddit"></div>
      </a>
    </div>
  </div>
</section>
