<html ng-app="app" ng-controller="indexController">
  <head>
    <title>Academic Life Helper</title>
    <meta charset="utf-8" />
    <link rel="icon"
      type="image/png"
      href="src/img/Logo-light.png">
    <!-- Web fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <!-- Styles -->
    <link rel="stylesheet" ng-href="../bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" ng-href="../bower_components/material-calendar/angular-material-calendar.min.css">
    <link rel="stylesheet" ng-href="src/css/{{ selectedSheet }}.css">
    <link rel="stylesheet" ng-href="src/css/fixed-style.css">
    <link rel="stylesheet" ng-href="src/css/bootstrap.css">
    <!-- Angular Imports -->
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="../bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="../bower_components/angular-material/angular-material.min.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.min.js"></script>
    <script src="../bower_components/material-calendar/angular-material-calendar.min.js"></script>
    <script src="src/js/app.module.js"></script>
    <!-- Controllers -->
    <script src="src/js/indexController.js"></script>
    <script src="src/js/activitiesController.js"></script>
    <script src="src/js/assignmentsController.js"></script>
    <script src="src/js/preferencesController.js"></script>

    <script type="text/javascript">
    //<![CDATA[

    // if (screen.width <= 699 || navigator.userAgent.match("iPad")) {
    //   window.location.pathname = "/classesMobile";
    // }

    //]]>
    </script>

  </head>
  <body >
    <div ng-controller="activitiesController" style="overflow: hidden">
      <div class="max-height" layout="row">

        <md-sidenav
        class="md-sidenav-left"
        md-component-id="left-panel"
        md-is-locked-open="$mdMedia('gt-sm')"
        md-whiteframe="4">

          <md-toolbar class="md-theme-indigo navbar-custom">
            <md-menu md-offset="30 30">
              <div class="settings-button" ng-click="$mdMenu.open()"></div>

              <md-menu-content  ng-mouseleave="$mdMenu.close()" width="4">
                <md-menu-item>
                  <md-button class="menu-item-button" ng-click="togglePreferences()">
                    Account Preferences
                  </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                  <md-button ng-click="logoutUser()">
                    Logout
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
            <h2 class="greeting-msg"><span class="greeting-span">{{ logged_username }}</span></h2>
            <div class="style-selector-area">
              <div ng-class="selectedSheet === 'index-dark' ? 'style-selector color-type1 selected-style' : 'style-selector color-type1'" ng-click="changeCss('index-dark')"></div>
              <div ng-class="selectedSheet === 'index-coffee' ? 'style-selector color-type2 selected-style' : 'style-selector color-type2'" ng-click="changeCss('index-coffee')"></div>
              <div ng-class="selectedSheet === 'index-light' ? 'style-selector color-type3 selected-style' : 'style-selector color-type3'" ng-click="changeCss('index-light')"></div>
            </div>
          </md-toolbar>

          <md-content layout-padding>
            <div>
              <ul class="activity-list-area">
                <li style="cursor: pointer" ng-class="selected_activity_id === activity._id ? 'activity-list-item selected-item' : 'activity-list-item'" ng-click="selectActivity(activity._id)" ng-repeat="activity in activities">
                  <div ng-class="selected_activity_id === activity._id ? 'activity-list-icon-selected' : 'activity-list-icon'"></div>
                  <span>{{ activity.title }}</span>
                  <div ng-click="removeActivityDialog(activity._id)" class="delete-activity"></div>
                </li>
              </ul>
              <div ng-form name="activityInput">
                <input
                  ng-maxlength="30"
                  class="activity-input"
                  ng-change="printValue()"
                  placeholder="Type your activities here!"
                  type="text"
                  ng-model="activity_input"
                  ng-enter="activityInput.$valid ? addActivity() : null"
                  ng-blur="activityInput.$valid ? addActivity() : null"
                />
              </div>
              <p class="repeat-alarm" ng-show="!activityInput.$valid">Input content too long!</p>
            </div>
          </md-content>
        </md-sidenav>

          <div ng-controller="assignmentsController" flex-sm="100" flex-xs="100" class="max-height right-panel">

            <div ng-if="!isShowPreferences">
              <md-button style="position: fixed; right: 5px; top: 5px;" hide-gt-sm ng-click="toggleLeft()" class="md-fab" aria-label="Comment">
                <img width="35px" src="src/img/ic_reorder_white_24dp_2x.png" />
              </md-button>
              <md-nav-bar aria-label="navBar" md-selected-nav-item="currentNavItem">
                <md-nav-item md-nav-href="classes" onclick="goto('classes')" id="classes" name="classes">
                  Assignments
                </md-nav-item>
                <md-nav-item md-nav-href="calendar" id="calendar" onclick="goto('calendar')" name="calendar">Calendar</md-nav-item>
                <!--<md-nav-item md-nav-href="dashboard" name="dashboard">Dashboard</md-nav-item> -->
              </md-nav-bar>

              <div ng-view></div>
            </div>

            <div ng-if="isShowPreferences">

            </div>

          </div>

      </div>
    </div>
  </body>
</html>
